@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

* {
    box-sizing: border-box;
}
nav{
    height: 50px;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 80px;
}
nav > a{
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
}
body{
    background-color: #fbeee0;
    color: black;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: black;
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Bungee Shade', cursive;
    line-height: 1.4em;
}
h2{
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    line-height: 1.4em;
}
h3{
    font-size: 1.5em;
    text-align: center;
    text-decoration: 2px solid underline #7CE577;
    margin-bottom: 50px;
    line-height: 1.4em;
}
span{
    font-weight: 900;
}
fieldset{
    margin-bottom: 20px;
    padding: 20px;
}
input{
    background-color: #fbeee0;
    border: 2px solid black;
    box-shadow: black 4px 4px 0 0;
    color: black;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
}
textarea{
    background-color: #fbeee0;
    border: 2px solid black;
    box-shadow: black 4px 4px 0 0;
    color: black;
    display: inline-block;
    padding: 0 18px;
    line-height: 20px;
}
label{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
p {
    color: black;
    font-size: 24px;
}
th, td {
    padding-bottom: 10px;
    padding-right: 20px;
}
table{
    margin-bottom: 30px;
}
table a{
    text-decoration: none;
    color: black;
}
/* Les class */
.rangee{
    display: flex;
    gap: 8px;
    align-items: baseline;
    justify-content: space-around;
}
.project{
    display: flex;
    padding: 20px;
    flex-direction: column;
    border: 2px #7CE577 solid;
    max-width: 1200px;
    max-height: max-content;    
    margin-bottom: 50px; 
    text-align: left;
    box-shadow: #7CE577 6px 6px 0 0;

    & table{
    min-width: 700px;

    & td, th{
        padding: 15px 10px;
    }
    & td:last-of-type{
        font-weight: 800;
        }
    & td:first-of-type{
        text-decoration: 2px #7CE577 underline;
        & :hover{
            font-weight: 700;
        }
    }
    } 
}
.project.boite{
    max-width: 270px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    cursor: pointer;
}
section a{
    text-decoration: none;
    color: black;
}
.project.boite:hover{
    background-color: #7de57743;
}
.project p{
    font-size: 18px;
    max-width: max-content;
    align-self: center;
    touch-action: none;
    pointer-events: none;
}
.project > div:first-of-type{
    padding: 20px;
    display: flex;
    gap: 10px;
}
.liste-projet{
    display: flex;
    gap: 40px;
    justify-content: center;
}
table .button-74{
    line-height: 25px;
    font-size: 14px;
    padding: 0 10px;
    min-width: max-content;
}
table .button-74::before{
    content: "✘";
}
.form {
    margin: 14px;
    padding: 40px;
}
.grid {
    margin-left: auto;
    margin-right: auto;
    max-width: 60rem;
    background-color: #7CE577;
    padding: 100px;
    border-radius: 20px;
    margin-bottom: 100px;
}
.grid > p{
    text-align: center;
    font-weight: 700;
}    
.align {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.task-container{
    display: flex;
    flex-direction: column;
}
.task-container > a{
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
}
.task-container h4{
    border-radius: 0px;
    padding: 0;
    pointer-events: none;
    touch-action: none;
}
.task{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px
    
}
.btn{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 30px;
}
.button-74 {
    background-color: #fbeee0;
    border: 2px solid black;
    border-radius: 30px;
    box-shadow: black 4px 4px 0 0;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 17px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    touch-action: manipulation;
}
.button-74:hover {
    background-color: #bfffbb;
}
.button-74:active {
    box-shadow: black 2px 2px 0 0;
    transform: translate(2px, 2px);
}
.center{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.button-74.sml{
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
}