
body{
    background-color: #E7E6F7;
    margin: 0;
    color: black;
}

* {
box-sizing: border-box;
}

.align {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    color: #d44179;
    font-size: 50px;
    text-align: center;
    margin-bottom: 60px;
}
h2{
    text-align: center;
}
.grid {
margin-left: auto;
margin-right: auto;
max-width: 60rem;
background-color: #444347f1;
padding: 100px;
border-radius: 20px;
}


html {
box-sizing: border-box;
height: 100%;
}

body {
background-color: #222323;
color: #ffffff;
font-family: 'Open Sans', sans-serif;
font-size: 14px;
font-size: 0.875rem;
font-weight: 400;
height: 100%;
line-height: 1.5;
margin: 0;
min-height: 100vh;
}




input {
background-color: #0b1219;
border: 0;
border-radius: 10px;
color: #ffffff;
font: inherit;
margin: 0;
outline: 0;
padding: 10px;
width: 100%;
}


.form {
margin: 14px;
padding: 40px;
}

label{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

p {
    margin-bottom: 24px;
    margin-top: 44px;
    color: #d44179;
    font-size: 24px;
    width: max-content;
}

a{
    background-color: #606468;
    padding: 15px;
    border-radius: 20px;
    color: #eee;
    outline: 0;
    text-decoration: none;
}
a:hover{
    background-color: #d44179;
    color: #222323;
}
.rangee{
    display: flex;
    gap: 8px;
    align-items: baseline;
    max-width: 700px;
}